In [12]:
from pyspark.sql import SparkSession
import pandas as pd
# Create a SparkSession
# spark = SparkSession.builder \
#     .appName("Climate Tweets Analysis").getOrCreate()

file_path = r"C:\Users\user\Downloads\disasters.csv"
# file_path_2 = r"C:\Users\user\Downloads\The Climate Change Twitter Dataset.csv"
disaster_df = pd.read_csv(file_path,parse_dates=['start_date','end_date'])
# climate_df = spark.read.csv(file_path_2, header=True, inferSchema=True)
# climate_df.show()
disaster_df.head()
disaster_df.describe()

,Latitude,Longitude,start_date,end_date,Total Deaths,No Affected,Reconstruction Costs ('000 US$),Total Damages ('000 US$),CPI
count,1290.000000,1294.000000,4913,4913,3583.000000,3.213000e+03,1.600000e+01,1.755000e+03,4544.000000
mean,19.328011,41.045957,2013-12-17 04:45:11.174435328,2014-01-04 14:41:56.262975744,203.965113,7.411172e+05,1.301854e+06,1.205278e+06,90.401750
min,-913.908000,-955.370000,2007-01-01 00:00:00,2007-01-03 00:00:00,1.000000,2.000000e+00,1.510000e+03,2.000000e+00,81.101659
25%,-0.011000,-4.675000,2010-05-27 00:00:00,2010-06-07 00:00:00,4.000000,2.500000e+03,6.000000e+04,2.248000e+04,85.292061
50%,17.483500,48.765000,2013-12-23 00:00:00,2013-12-28 00:00:00,12.000000,1.500000e+04,1.970000e+05,1.368200e+05,91.120794
75%,34.770750,103.951000,2017-08-03 00:00:00,2017-08-11 00:00:00,30.000000,1.027170e+05,1.091438e+06,6.475000e+05,93.878436
max,995.267000,952.600000,2020-12-30 00:00:00,2020-12-30 00:00:00,222570.000000,3.300000e+08,1.150000e+07,2.100000e+08,100.000000
std,88.671570,123.322345,NaN,NaN,4737.270923,7.419144e+06,2.859664e+06,6.787299e+06,5.716723

In [13]:
file_path_2 = r"C:\Users\user\Downloads\The Climate Change Twitter Dataset.csv"
climate_df = pd.read_csv(file_path_2, parse_dates=['created_at'])
climate_df.head()
climate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15789411 entries, 0 to 15789410
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   created_at       datetime64[ns, UTC]
 1   id               int64
 2   lng              float64
 3   lat              float64
 4   topic            object
 5   sentiment        float64
 6   stance           object
 7   gender           object
 8   temperature_avg  float64
 9   aggressiveness   object
dtypes: datetime64[ns, UTC](1), float64(4), int64(1), object(4)
memory usage: 1.2+ GB

In [14]:
climate_df.isna().sum()

created_at                0
id                        0
lng                10481873
lat                10481873
topic                     0
sentiment                 0
stance                    0
gender                    0
temperature_avg    10481873
aggressiveness            0
dtype: int64

In [19]:
threshold = 0.05
total_missing_values = climate_df.isna().sum().sum()/len(climate_df)
# if total_missing_values < threshold:
#     climate_df.dropna(subset=['lng, lat'], inplace=True)
# print(climate_df.isna().sum())
total_missing_values

np.float64(1.9915637765081928)